<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {{#if isProducts}}
        <li><a href="/products" class="nav-link px-2 link-secondary text-decoration-underline">Products</a></li>
        {{else}}
        <li><a href="/products" class="nav-link px-2 link-secondary">Products</a></li>
        {{/if}}

        {{#if isAdd}}
        <li><a href="/add" class="nav-link px-2 text-decoration-underline">Add</a></li>
        {{else}}
        <li><a href="/add" class="nav-link px-2">Add</a></li>
        {{/if}}        
      </ul>

      <div class="col-md-3 text-end">
        {{#if isLogin}}
        <button type="button" class="btn btn-success me-2 active"><a class="text-light text-decoration-none" href="/login">Login</a></button>
        {{else}}
        <button type="button" class="btn btn-success me-2"><a class="text-light text-decoration-none" href="/login">Login</a></button>
        {{/if}}
        
        {{#if isSignup}}
        <button type="button" class="btn btn-primary active"><a class="text-light text-decoration-none" href="/sign-up">Sign-up</a></button>
        {{else}}
        <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/sign-up">Sign-up</a></button>
        {{/if}}
      </div>
    </header>
  </div>