
<h1>Sign-up</h1>

<form class="m-5" action="/sign-up" method="post">

    <div class="row mb-3">
        <div class="col">
            <input name="FirstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input name="LastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    
     <div class="form-floating mb-3">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
     </div>
    
     <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
     </div>

     <button type="submit" class="btn btn-primary mt-3">Login</button>

</form>